.slide-forward-enter-from {
  opacity: 0;
  transform: translateX(48px);
}
.slide-forward-leave-to {
  opacity: 0;
  transform: translateX(-48px);
}
.slide-back-enter-from {
  opacity: 0;
  transform: translateX(-48px);
}
.slide-back-leave-to {
  opacity: 0;
  transform: translateX(48px);
}
.slide-forward-enter-active,
.slide-forward-leave-active,
.slide-back-enter-active,
.slide-back-leave-active {
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}
